{% extends 'base.html' %}
{% block title %}<title>Страница {{ article.name }}</title>{% endblock %}

{% block header_text %}<p>Добро пожаловать на страницу сообщества! Здесь вы найдёте информацию выложеную другими игроками!</p>{% endblock %}

{% block content %}
    <main class="main-content">
        <section class="content-section">
            <h2>{{article.classification.name}}:{{article.name}}</h2>
            {% for content in article.content_articles %}
                <p>{{ content.content }}</p>
                <p>Автор: {{ content.user.login }}</p>
                <hr/>
            {% endfor %}

            {% for img in article.imgs %}
                <img src="/static/img/{{img.name}}" width="300" height="auto">
            {% endfor %}
        </section>
    </main>
{% endblock %}