{% extends 'base.html' %}
{% block title %}<title>Страница Авториции</title>{% endblock %}

{% block header_text %}<p>Добро пожаловать на страницу авториции! Здесь вы можете войти в аккаунт!</p>{% endblock %}

{% block content %}
    <main class="main-content">
        <section class="content-section">
            <h2>Заполните все поля для начала авториции</h2>
            <form method="post">
                <ul>
                    <li>
                        <label for="login">Введите свой логин: </label>
                        <input type="text" id="login" name="login" required>
                    </li>
                    <li>
                        <label for="password">Введите свой пароль: </label>
                        <input type="password" id="password" name="password" required>
                    </li>
                </ul>
                <button id="button-confirm" type="submit">Авторизоваться</button>
            </form>
        </section>
    </main>
{% endblock %}
{% block js %}<script src="/static/js/confirmButton.js"></script>{% endblock %}