{% extends 'core/base.html' %}
{% block title %}<title>Unciv - неофициальная вики</title>{% endblock %}
{% block header_text %}
    <p>Погрузитесь в мир Цивилизации - места где вы станете правителем могучей страны история которой начнётся с неолита и закончится полётом в другую галактику</p>
{% endblock %}

{% block nav %}
    <!-- Навигация -->
    <nav class="site-nav">
        <ul class="nav-menu">
            <li><a href="#unique">Особености</a></li>
            <li><a href="#country">Страны</a></li>
            <li><a href="#locations">Карты</a></li>
            <li><a href="#resources">Ресурсы</a></li>
            <li><a href="#gallery">Галерея</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <!-- Основной контент -->
    <main class="main-content">
        <section class="content-section" id="unique">
            <h2>Особености UnCiv </h2>
            <div class="image-placeholder">
                <img src="/static/img/main_img.png" alt="Главное изображение">
            </div>
            <p>UnCiv или unciv - это симулятор "Цивилизации" в которой вы примете роль правителя. Исследуйте случайно сгенерированую карту или создайте свою собственную, Стройте процветающии города, развивайте могучую экономику, создавайте непобедимую армию, исследуйте передовые технологии и развивайте культуру своей страны.</p>
            <p>Играйте в одиночку против ИИ или можете опробовать свои силы против других игроков играя в сетевую игру. Игра имеет втроенную поддержку модов позволяющии в корне изменить игру: от простого изменения графики до изменения базового набора правил, включая моды-расширения добавляющие новые войска, или здания, или даже страны. Игра позволяет регулировать уровень сложности ИИ(просто накидка дополнительных бонусов, так как ИИ не очень умный), скорость партии, начальную эпоху, количество стран, размер карты, её форму и тип её генерации.</p>
        </section> 

        <section class="content-section" id="country">
            <h2>Некоторые страны на выбор</h2>
            <div class="character-grid">
                <div class="character-card">
                    <div class="character-image">
                        <img src="/static/img/emblema_Russia.png" alt="Эмблема России в игре">
                    </div>
                    <h3>Россия</h3>
                    <p>Одна из игровых стран, обладающая несколькими особеностями: </p>
                    <p>1)"богатство Сибири": +1 производство от каждого Стратегического ресурса, в 2 раза больше лошадей, железа и урана. стартовый биом: тундра</p>
                    <p>2) Острог - здание заменяющее казармы и дающее больше бонусов: -25% к затратам культуры/золота на расширение границ в городе с этим зданием </p>
                    <p>3) Казак - замену кавалерии, обладающая своей уникальной способности: +50% к боевой силе против раненых войск</p>
                </div>
                <div class="character-card">
                    <div class="character-image">
                        <img src="/static/img/emblema_USA.png" alt="Эмблема США в игре">
                    </div>
                    <h3>Америка</h3>
                    <p>США или просто Америка, обладает следующими особеностями:</p>
                    <p>1)"Явное предначертание": +1 к радиусу обзора для сухопутных войск, в 2 раза снижена цена приобретения клеток во всех городах, стартового биома: нет</p>
                    <p>2) Минитмен - замена аркебузирам, игнорирущая штраф очков передвижения(ОП) за местность и имеющая сразу повышене "Муштра 1"(+15% к боевой мощи на пересечённой местности)</p>
                    <p>3) бомбардировщик "B-17" - замену бомбардировщику имеющая повышенные характиристики: 70 боевой мощи в ближнем/дальнем бою вместо 65 мощи в ближнем/дальнем бою. Также имеет повышение "уклонение"(Урон от перехвата снижен в двое) и "осада"(в треть больше мощи против городов)</p>
                </div>
                <div class="character-card">
                    <div class="character-image">
                        <img src="/static/img/emblema_China.png" alt="Эмблема Китая в игре">
                    </div>
                    <h3>Китай</h3>
                    <p>Китай - обладает следующим:</p>
                    <p>1)"Искуство войны": Великий полководец даёт двойной бонус в бою и появляется на 50% быстрее, стартового биома: нет</p>
                    <p>2)Бумажная мастерская - замена библиотеки, не требующая обсуживания в 1 золото в ход и дающая 2 золота в ход</p>
                    <p>Чу-ко-ну - замена арбалетчикам, имеет сниженные характиристики: 14 боевой мощи в дальнем бою вместо 18 мощи в дальнем бою, но взамен получает уникальную способность: одну дополнительную атаку за ход и возможность двигаться после атаки.</p               </div>
            </div>
        </section>  

        <section class="content-section" id="locations">
            <h2>Карты UnCiv</h2>
            <div class="image-placeholder">
                <img src="/static/img/editor_map.jpg" alt="Демострация редактора карт">
            </div>
            <p>Карты в UnCiv генерируются случайно, но можно это изменить, на экране настройки карты, поставив в типе карты "свой", что позволит выбрать свою карту сделаную в редактаре карт в самой игре или выбрать карту скачанную с помощью модов, также некоторые моды дают карты-сценарии</p>
        </section>
        
        <section class="content-section" id="resources">
            <h2>Список нескольких ресурсов</h2>
            <div class="character-grid">
                <div class="character-card">
                    <div class="character-image">
                        <img src="/static/img/apple_food_emblema.png" alt="Иконка Еды">
                    </div>
                <h3>Еда</h3>
                <p>Еда - Один из основных ресурсов города необходимый для роста населения. Каждый житель города без модификаторов "кушает" 2 еды в ход, а излишек еды переходит в рост город, по достижения лимита роста появляется новый житель.</p>
                <p>Источником еды в начале часто становится сам город и местность в округ него, а также улучшение по типу: фермы, лагерей, выгонов и рыбацких лодок если город прибрежный.</p>
                </div>
            <div class="character-card">
                    <div class="character-image">
                        <img src="/static/img/product_emblema.png" alt="Иконка производства">
                    </div>
                <h3>Производство</h3>
                <p>Производство - ещё один важный ресурс города необходимый для сторительства зданий в городе, найма армии и что реже всего преобразования в науку или золота по соотношению 4 производства на 1 ресурс(науки или золота).</p>
                <p>Источником производства города явлются новые здания в городе, местность, бонусные/редкие/стратегические ресурсы и улучшения на них, по типу: выгон на клетках со скотом или конями, вырубка леса или джунглей, каменоломни, лагеря на оленях, лесопилка, мануфактура, нефтяная скважина, шахты.</p>
                
            </div>

            </div>
        </section>
        
        <section class="content-section" id="gallery">
            <h2>Галерея</h2>
            <div class="gallery-grid">
                <div class="gallery-item">
                    <img src="/static/img/gameplay.jpg" alt="Демонстрация игрового процесса(gameplay)">
                </div>
                <div class="gallery-item">
                    <img src="/static/img/trade.png" alt="Демонстрация Торговли">
                </div>
                <div class="gallery-item">
                    <img src="/static/img/setting.jpg" alt="Демострация настроек">
                </div>
                <div class="gallery-item">
                    <img src="/static/img/culture_tree.jpg" alt="Демострация культурного древа">
                </div>
                <div class="gallery-item">
                    <img src="/static/img/map_country.png" alt="Скриншот модового сценария">
                </div>
                <div class="gallery-item">
                    <img src="/static/img/diagram.png" alt="Скриншот диаграммы">
                </div>
            </div>
        </section>
    </main>
{% endblock %}