{% extends 'base.html' %}
{% block title %}<title>Страница Регистрации</title>{% endblock %}

{% block header_text %}<p>Добро пожаловать на страницу регистрации! Здесь вы можете создать свой аккаунт!</p>{% endblock %}

{% block content %}
    <main class="main-content">
        <section class="content-section">
            <h2>Заполните все поля для начала регистрации</h2>
            <form method="post">
                <ul>
                    <li>
                        <label for="login">Создайте свой уникальный логин: </label>
                        <input type="text" id="login" name="login" required>
                    </li>
                    <li>
                        <label for="password-1">Создайте свой пароль: </label>
                        <input type="password" id="password-1" name="password-1" required>
                    </li>
                    <li>
                        <label for="password-2">Подвердите свой пароль: </label>
                        <input type="password" id="password-2" name="password-2" required>
                    </li>
                </ul>
                <button id="button-confirm" type="submit">Зарегистрироваться</button>
            </form>
        </section>
    </main>
{% endblock %}
{% block js %}<script src="/static/js/confirmButton.js"></script>{% endblock %}