$white_color: #e8e8e8;
$dark_white_color: #b8b8b8;
$cyan_color: rgb(52, 107, 131);
$border_sait: 2px solid $cyan_color;
$img_border: 2px solid $cyan_color;
$img_small_border: 1px solid $cyan_color;
$background_main: linear-gradient(135deg, darkcyan 0%, darkblue 100%);
$background_hover: rgb(0, 0, 110, 0.5);